.kanban-task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 225px;
  height: 205px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
}

.kanban-task h3 {
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.kanban-task-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.kanban-task-description {
  font-size: 0.9rem;
  /* text-align: justify; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.kanban-task-affected-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: #666;
}

.kanban-task-affected-user__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: #d9d9d9 1px solid;
}
